<div *ngIf="!airswapService.connected" class='privateKeyContainer'>
  <p>
      You are not connected
  </p>

  <div>
    <button
    mat-button
    (click)="enterPrivateKey()">
      ENTER PRIVATE KEY
    </button>
  </div>

  <div>
    <button
    mat-button
    (click)="keystoreFileInput.click()">
      LOAD KEYSTORE FILE
    </button>
    <input hidden type="file" #keystoreFileInput (change)="loadKeystoreFile($event)"/>
  </div>
  <div>
    {{errorMessage}}
  </div>
</div>


<div *ngIf="airswapService.connected">
  You are connected as {{this.airswapService.getAccount()}}
</div>