<div>
  <mat-form-field class="privateKeyInput">
    <input
    matInput
    (keydown.enter)="onCloseConfirm()"
    placeholder="Private Key"
    [(ngModel)]='enteredPrivateKey'>
    <mat-hint align="start"><strong>Let nobody copy this. Whoever knows it, controls all your funds.</strong> </mat-hint>
    <mat-hint align="end">{{enteredPrivateKey.length}} / 66</mat-hint>
  </mat-form-field>
</div>
<div>
  <button
  mat-button
  (click)="onCloseConfirm()"
  color='primary'
  [disabled]="enteredPrivateKey.length !== 66">
    CONNECT
  </button>
</div>