<div class="main-container">
  <mat-toolbar color='white' class='toolbar'>
    <a routerLink="./account">
      <button mat-raised-button class="menu_button">
        <mat-icon class='menu_icon'>person</mat-icon>
        ACCOUNT
      </button>
    </a>
    <span *ngIf="airswapService.connected && airswapService.isAuthenticated">
      <a routerLink="./intents">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>create</mat-icon>
          INTENTS
        </button>
      </a>
      <a routerLink="./price">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>attach_money</mat-icon>
          PRICE
        </button>
      </a>
      <a routerLink="./rebalance">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>pie_chart</mat-icon>
          REBALANCE
        </button>
      </a>
      <a routerLink="./logs">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>local_library</mat-icon>
          LOGS
        </button>
      </a>
    </span>
  </mat-toolbar>
  <mat-card class='main-content'>
    <router-outlet></router-outlet>
  </mat-card>
</div>

