@import '~../customTheme.scss';

$bottom-color: rgb(255, 255, 255);

.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../assets/background.jpg) no-repeat top fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

}

.toolbar {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.main-content {
  position: absolute;
  top: 370px;
  bottom: 60px;
  width: 90%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}