<div class="main-container">
  <mat-toolbar color='white' class='toolbar'>
    <button mat-raised-button class="menu_button">
      <mat-icon class='menu_icon'>person</mat-icon>
      ACCOUNT
    </button>
    <button mat-raised-button class="menu_button">
      <mat-icon class='menu_icon'>create</mat-icon>
      INTENTS
    </button>
    <button mat-raised-button class="menu_button">
      <mat-icon class='menu_icon'>attach_money</mat-icon>
      PRICE
    </button>
    <button mat-raised-button class="menu_button">
      <mat-icon class='menu_icon'>local_library</mat-icon>
      LOGS
    </button>
  </mat-toolbar>
  <mat-card class='main-content'>
    <router-outlet></router-outlet>
  </mat-card>
</div>

