<div *ngIf="airswapService.intents.length > 0">
  <div class='progress-wrapper'>
    <mat-progress-spinner
    style='margin: 0 auto;'
    color="primary"
    [diameter]='68'
    mode="determinate"
    [value]="updateCountdown">
    </mat-progress-spinner>

    <div class="iconContainer">
      <button
      mat-icon-button
      color="primary"
      matTooltip="Refresh Prices"
      (click)="getUsdPrices()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mat-form-field class="expirationInput">
      <input
      matInput
      number
      (keydown.enter)="setExpiration()"
      placeholder="Set the expiration time for an given offer (in minutes)"
      [(ngModel)]='enteredExpiration'>
      <mat-hint align="end">Set expiration: {{priceService.expirationTime / 60 | number: '1.1-2' }} </mat-hint>
      <button
        mat-icon-button
        matSuffix
        matTooltip='Set Expiration Time'
        color="primary"
        aria-label="Set Expiration Time"
        [disabled]='!(enteredExpiration > 0)'
        (click)="setExpiration()">
          <mat-icon>fast_forward</mat-icon>
        </button>
    </mat-form-field>
  </div>
  <div *ngFor="let intent of airswapService.intents">
    <div *ngIf="intent.makerProps && intent.takerProps">
      <mat-form-field class="priceInput">
        <input
        matInput
        number
        (keydown.enter)="setPrice(
          intent.makerProps,
          intent.takerProps,
          enteredPrices[intent.makerProps.address+intent.takerProps.address]
        )"
        placeholder="Price for {{intent.takerProps.symbol}} per {{intent.makerProps.symbol}}"
        [(ngModel)]='enteredPrices[intent.makerProps.address+intent.takerProps.address]'>
        <mat-hint align="start">CryptoCompare Price: {{intent.price | number: '1.1-8'}} {{intent.takerProps.symbol}} per {{intent.makerProps.symbol}} </mat-hint>
        <mat-hint
        *ngIf="priceService.limitPrices[intent.makerProps.address] &&
        priceService.limitPrices[intent.makerProps.address][intent.takerProps.address]"
        align="end">
          Set to: {{priceService.limitPrices[intent.makerProps.address][intent.takerProps.address] / (intent.takerDecimals / intent.makerDecimals)}} {{intent.takerProps.symbol}} per {{intent.makerProps.symbol}} </mat-hint>
        <button
        mat-icon-button
        matSuffix
        matTooltip='Set Price'
        color="primary"
        aria-label="Set Price"
        [disabled]=!priceValid(enteredPrices[intent.makerProps.address+intent.takerProps.address])
        (click)="setPrice(
          intent.makerProps,
          intent.takerProps,
          enteredPrices[intent.makerProps.address+intent.takerProps.address]
        )">
          <mat-icon>fast_forward</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
