.expirationInput {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 20px;

  .iconContainer {
    position: absolute;

    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.balances {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.liquidBalances {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.amountInput {
  width: 600px;
  margin-top: 10px;
  // margin-bottom: 10px;
}

.priceInput {
  width: 600px;
  // margin-top: 10px;
  margin-bottom: 10px;
}
.intentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.intentName {
  width: 168px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.intentInputs {
  width: 600px;
}