<p style='font-style: italic;'>
  Rebalance your portfolio
</p>


<div>
  <div>
    <div class='progress-wrapper'>
      <mat-progress-spinner
      style='margin: 0 auto;'
      color="primary"
      [diameter]='68'
      mode="determinate"
      [value]="rebalanceService.updateCountdown">
      </mat-progress-spinner>

      <div class="iconContainer">
        <button
        mat-icon-button
        color="primary"
        matTooltip="Refresh Balances & Prices"
        (click)="refreshBalances()">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>

      <div class='addTokenButton'>
        <button
        mat-icon-button
        color="primary"
        matTooltip="Add a token to watch in portfolio"
        [disabled]="rebalanceService.algorithmIsRunning"
        (click)="addToken()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-card class='balances'>
    <div><i>Current Balances</i></div>
    <div *ngFor='let token of airswapService.tokenList | callback: filterWeth' style='text-align: right;'>
      <span *ngIf='priceService.balances[token] && airswapService.tokenProps[token]'>
        {{priceService.balances[token] / airswapService.tokenProps[token].powerDecimals | number: '1.1-8'}} {{airswapService.tokenProps[token].symbol}}
      </span>
    </div>
    <br>
    <div *ngIf='priceService.balances[wethAddress] && airswapService.tokenProps[wethAddress]' style='text-align: right;'>
        {{priceService.balances[wethAddress] * 1e-18 | number: '1.1-8'}} WETH
    </div>
    <br>
    <div *ngIf="rebalanceService.currentTotalPortfolioValue">
        <div><i>Value</i></div>
        <div>{{rebalanceService.currentTotalPortfolioValue | number: '1.1-2'}} $</div>
    </div>
    <br>
    <div><i>Current Distribution</i></div>
    <div *ngFor='let token of objectKeys(rebalanceService.currentFractions)' style='text-align: left;'>
      <span *ngIf="airswapService.tokenProps[token]">
        {{airswapService.tokenProps[token].symbol}}
      </span>
      <span style='margin-left: 5px; margin-right: 5px;'>
        {{rebalanceService.currentFractions[token] * 100 | number: '1.1-2'}}
      </span>
      %
    </div>
  </mat-card>

  <mat-card class='liquidBalances'>
    <div><i>Liquid Balances</i></div>
    <div *ngFor='let token of objectKeys(priceService.balancesLiquidity)'>
      <span *ngIf='priceService.balancesLiquidity[token] && airswapService.tokenProps[token]'>
        {{priceService.balancesLiquidity[token] / airswapService.tokenProps[token].powerDecimals | number: '1.1-8'}} {{airswapService.tokenProps[token].symbol}}
      </span>
    </div>
    <br>
    <div *ngIf="rebalanceService.neededWeth > 0">
      <div><b>You need to wrap</b></div>
      <div>{{rebalanceService.neededWeth / 1e18 | number: '1.1-8'}} WETH</div>
      <button
        mat-button
        color='primary'
        matTooltip='Wrap ETH to WETH'
        (click)='wrapEth()'>
        WRAP
      </button>
    <br>
    </div>
    <div *ngIf="!rebalanceService.enoughIntents">
      <div style="color: red"><b>Not enough AST</b></div>
      <div style="color: red">You need {{rebalanceService.missingAst}} more AST</div>
    <br>
    </div>
    <div *ngIf="objectKeys(rebalanceService.deltaBalances).length > 0">
      <br>
      <div><i>Actions for Rebalance</i></div>
      <div *ngFor='let token of airswapService.tokenList' style='text-align: right;'>
        <span *ngIf="rebalanceService.deltaBalances[token] && airswapService.tokenProps[token]">
          <span *ngIf="rebalanceService.deltaBalances[token] < 0" style='color: red;'>
            -{{-rebalanceService.deltaBalances[token] / airswapService.tokenProps[token].powerDecimals | number: '1.1-8'}}
            {{airswapService.tokenProps[token].symbol}}
          </span>
          <span *ngIf="rebalanceService.deltaBalances[token] > 0" style='color: green;'>
            +{{rebalanceService.deltaBalances[token] / airswapService.tokenProps[token].powerDecimals | number: '1.1-8'}}
            {{airswapService.tokenProps[token].symbol}}
          </span>
        </span>
      </div>
    </div>
  </mat-card>

  <mat-list>
    <mat-list-item *ngFor='let token of airswapService.tokenList | callback: filterWeth' class='enterFractionContainer'>
      <mat-form-field class='enterFractionInput' *ngIf="airswapService.tokenProps[token]">
        <input
        matInput
        type='number'
        (keydown.enter)='setFraction(token)'
        (blur)='setFraction(token)'
        placeholder='Desired {{airswapService.tokenProps[token].symbol}} in %'
        [(ngModel)]='enteredFractions[token]'>

        <mat-hint
        *ngIf='priceService.usdPricesByToken[token]'
        align='start'>CryptoCompare Price: {{priceService.usdPricesByToken[token] | number: '1.1-4'}} $
        </mat-hint>

        <mat-hint
        *ngIf='rebalanceService.goalFractions[token]'
        align='end'>
          Set goal: {{rebalanceService.goalFractions[token] * 100 | number: '1.1-3'}} %
        </mat-hint>

        <button
        mat-icon-button
        matSuffix
        matTooltip='Set Fraction'
        color='primary'
        [disabled]='(rebalanceService.algorithmIsRunning || enteredFractions[token] < 0 || enteredFractions[token] > 100)'
        (click)='setFraction(token)'
        aria-label='Set Fraction'>
          <mat-icon>fast_forward</mat-icon>
        </button>

        <button
          mat-icon-button
          matSuffix
          *ngIf="token !== ethAddress"
          color='primary'
          matTooltip='Remove from Portfolio View'
          [disabled]="rebalanceService.algorithmIsRunning"
          (click)='removeToken(token)'>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <button
  mat-button
  (click)="scaleToOne()"
  [disabled]="rebalanceService.algorithmIsRunning">
    SCALE TO 100%
  </button>
  <span *ngIf="!priceService.algorithmRunning">
    <button
    mat-button
    [disabled]="!rebalanceService.enoughIntents"
    (click)="startAlgorithm()">
      START REBALANCING
    </button>
  </span>
  <span *ngIf="priceService.algorithmRunning && rebalanceService.algorithmIsRunning">
    <button
    mat-button
    (click)="stopAlgorithm()">
      STOP
    </button>
  </span>
  <span>
    <button
    mat-button
    (click)="openOptions()">
      OPTIONS
    </button>
  </span>
</div>
