<div>
  <p style="color:red; font-style: italic;">
    This will add the token locally to your list. Keep the intent up for a while to have it added to the general token list.
  </p>
  <div>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Token Address"
      [(ngModel)]="tokenAddress"
      [disabled]="tokenIsValid">
    </mat-form-field>

    <ng-container *ngIf="checkedToken">
      <mat-form-field style="width: 100%;">
        <input
        matInput
        placeholder="Token Name"
        readonly='true'
        [(ngModel)]="tokenName">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input
        matInput
        placeholder="Token Symbol"
        readonly='true'
        [(ngModel)]="tokenSymbol">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input
        matInput
        type="number"
        placeholder="Token Decimals"
        readonly='true'
        [(ngModel)]="tokenDecimals">
      </mat-form-field>
    </ng-container>
  </div>
  <p style="color: red">
    <strong>{{errorMessage}}</strong>
  </p>
  <button
  mat-raised-button
  (click)="checkToken()"
  color='primary'
  [disabled]="tokenIsValid">
    CHECK TOKEN
  </button>

  <button
  mat-raised-button
  (click)="addToken()"
  color='primary'
  [disabled]="!tokenIsValid">
    ADD TOKEN
  </button>
</div>